{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center mb-4">Update Sample</h1>

    <!-- Form to update an existing sample -->
    <form method="POST" action="{{ url_for('samples.update_sample', sample_id=current_sample.sample_id) }}">
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" name="sample_name" value="{{ current_sample.sample_name }}" placeholder="Sample Name" required>
            </div>
            <div class="col">
                <input type="text" class="form-control" name="sample_size" value="{{ current_sample.sample_size }}" placeholder="Sample Size" required>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Update Sample</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}